.body {
  background-attachment: fixed;
}

.banner-atas {
  margin-top: 200px;
}
.gambar-atas {
  margin-top: -550px;
  margin-right: 100px;
}
.text-atas {
  margin-left: 100px;
}
.jumbotron {
  padding-top: 500px;
  background-color: blue;
  padding-bottom: 60px;
}
#service{
  padding-top: 2rem;
}
#Price{
  padding-top: 5rem;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  padding right:3rem;
  border: 1px solid rgba(59,58,58,0.46);
  margin:auto;
}
.container1 {
  background-color: grey;
  display: flex;
  box-sizing: border-box;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) * -0.5);
  margin-left: calc(var(--bs-gutter-x) * -0.5);
}
.col {
  flex: 1;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0%;
}
#Price{
  background-color:rgb(235, 230, 230);
}
#contact{
  padding-top: 5rem;
}